@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

@font-face {
    font-family: 'Anaktoria';
    src: url('fonts/Anaktoria/Anaktoria.ttf');
}

body {
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #b63e22;
    color: #fffae8;
}

h1 {
    font-family: 'Anaktoria', serif;
    font-size: 8rem;
    color: #d9a441;
}

h2 {
    font-family: 'Anaktoria', serif;
    font-size: 3rem;
    color: #fffae8;
    margin-top: 20px;
    padding-left: 4rem;
}

.container {
    padding-top: 5rem; /* Adds padding to the top of the page */
}

.lead {
    font-size: 1.7rem;
}

/* Ensures the image scales based on the height of the left content */
.image-container img {
    max-height: 100%;
    width: auto;
    max-width: 100%;
    object-fit: contain; /* Ensures proper scaling */
}
.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.image-credit {
    font-size: 0.9rem;
    color: #3a2f2a; /* Bootstrap's muted color */
}

.seperator {
    border: none; 
    height: 2px; 
    background-color: #d9a441; 
    margin: 40px 0;
}

.para {
    font-size: 1.5rem;
    line-height: 1.5;
    padding-left: 5rem;
    padding-right: 5rem;
}

#map {
    width: 750px;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

details {
    background: #b63e22;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 1rem;
    cursor: pointer;
    margin-left: 30px;
  }
  